<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Spring Security Basic</h1>


    <div sec:authorize="hasAnyAuthority('READ' , 'WRITE')">Text visible to users with either read or write authority.</div>
    <div sec:authorize="hasAuthority('READ')">Text visible to users with  read authority.</div>
    <div sec:authorize="hasAuthority('WRITE')">Text visible to users with   write authority.</div>
    <div sec:authorize="hasRole('USER')">Text visible to user.</div>
    <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
    <div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div>
    Authenticated username:
    <div sec:authentication="name"></div>
    Authenticated user authorities:
    <div sec:authentication="principal.authorities"></div>


    <br/>
    <a th:href="@{/read}"> read page</a>
    <br/>
    <a th:href="@{/write}"> write page</a>
    <br/>
    <a th:href="@{/manager}"> manager page</a>
    <br/>
    <a th:href="@{/logout}">Sign Out</a>

</body>
</html>